$snack-height: 3em;
.origin {
  height: $snack-height;
  line-height: $snack-height;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, $snack-height);
  width: 15em;
  text-align: center;
  background-color: black;
  z-index: 1;
  span {
    color: white;
  }
}
.snack {
  animation-name: movein;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

// animate

@keyframes movein {
  from {
    transform: translate(-50%, $snack-height);
  }
  10%, 90% {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, $snack-height);
  }
}
